.DS_Store
# .NET build files
bin
obj
gen/dotnet/*
!gen/dotnet/Utxorpc.Spec.csproj
gen/go/utxorpc/
gen/haskell/Proto
gen/node/src/*
!gen/node/src/index.ts
!gen/node/src/v1.ts
!gen/node/src/v1alpha.ts
!gen/node/src/v1beta.ts
gen/openapi/
gen/jsonschema/schema/
gen/typebox/src/
gen/rust/src
!gen/rust/src/lib.rs
gen/python/utxorpc_spec
gen/python/dist
spec.sln